@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Pacifico&display=swap');

@font-face {
    font-family: CeraPro;
    src: url(../font/CeraPro-Regular.ttf);
}

body {
    font-family: CeraPro;
    margin: 0;
    padding: 0;
    background-color: #f7f6f3;
}

nav {
    overflow: hidden;
    background: #cc9bb926;
    line-height: 70px;
}

nav a {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    color: #CB1D63;
    line-height: 50px;
}

nav a:hover {
    color: #000;
}

nav .active {
    background: #601b75;
}

nav input[type="text"] {
    float: right;
    padding: 6px;
    border: 1px solid #d51111;
    margin: 15px 150px 0 0;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
}

@media (max-width: 768px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 0;
        padding: 10px;
    }

    nav input[type="text"] {
        float: none;
        margin: 15px auto;
    }
}

.info_bloom {
    text-align: center;
    padding: 10px;
    margin: 20px 80px;
}

.info_bloom h1 {
    font-family: Pacifico;
    font-size: 80px;
    color: rgb(141, 50, 115);
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .info_bloom h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .info_bloom h1 {
        font-size: 40px;
    }
}

.title {
    text-align: center;
    font-size: 30px;
    color: rgb(141, 50, 115);
    padding-left: 10px;
    margin: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

p,
h2 {
    text-align: center;
    white-space: pre-line;
}

.contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-color: #ffffff20;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
}

.contact_form input,
select,
textarea {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .flex-container section {
        flex: 100%;
        max-width: none;
    }

    .contact_form form {
        width: 100%;
    }
}
